{
  "plugins": [
    [ 'module-resolver',
      {
        root: ['./src'],
        alias: {
          Components: './src/components',
          Constants: './src/constants',
          Screens: './src/screens',
          Services: './src/services',
        },
      },
    ]
  ]
}
